* {
  background-color: #7b3f00;
}
body {
  display: grid;
  grid-template-columns: 400px 450px;
  column-gap: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: bisque;
  font-family: Cookie Dough, Arial, Helvetica, sans-serif;
  font-size: 50px;
  align-content: center;
  padding-left: 50px;
}

h2 {
  color: bisque;
  font-family: Cookie Dough, Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: solid 2px burlywood;
  padding-left: 50px;
  padding: 20px;
  align-content: center;
}
#cookies-per-second-container {
  font-family: Howdy Lemon, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#cookies-per-second-value {
  font-size: 40px;
}

#cookie-button {
  border-radius: 50%;
  box-shadow: 0 0 20px 2px whitesmoke;
}
#cookie-image {
  border-radius: 50%;
}
#cookie-count {
  font-family: Howdy Lemon, Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#cookie-count-value {
  color: whitesmoke;
  font-family: Cookie Dough, "Courier New", Courier, monospace;
  font-size: 50px;
}
#reset-button {
  background-color: whitesmoke;
  font-family: Howdy Lemon, Arial, Helvetica, sans-serif;
  font-size: large;
  height: 50px;
  width: 80px;
}

#shop-upgrades {
  border: solid 2px burlywood;
  width: fit-content;
  font-family: Howdy Lemon, Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 2px;
  padding-right: 10px;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upgrades-box {
  padding: 10px;
  padding-top: 20px;
}
.buy-button {
  height: 50px;
  width: 50px;
}

@media (max-width: 430px) {
  body {
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 760px) {
  body {
    width: 700px;
    padding: 30px;
  }
}

@media (min-width: 1000px) {
  body {
    width: 800px;
    padding-left: 80px;
  }
}

@font-face {
  font-family: Cookie Dough;
  src: url("Cookie\ Dough.otf") format("opentype");
}

@font-face {
  font-family: Howdy Lemon;
  src: url(Howdy\ Lemon.otf) format("opentype");
}
